{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['postfix', 'postfix-mysql'],
        'service': 'postfix',
    },
}, merge=salt['pillar.get']('postfix:server')) %}

{% set relay = salt['pillar.get']('postfix:relay') %}
