{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['postfix', 'postfix-mysql', 'postfix-policyd-spf-python'],
        'pkgs_dkim': ['opendkim', 'opendkim-tools'],
        'pkgs_amavis': ['amavisd-new', 'spamassassin', 'clamav-daemon',
            'libnet-dns-perl', 'libmail-spf-perl', 'pyzor', 'razor',
            'arj', 'bzip2', 'cabextract', 'cpio', 'file', 'gzip', 'lhasa',
            'nomarch', 'pax', 'unrar-free', 'unzip', 'zip'],
        'pkgs_postfixadmin': ['postfixadmin', 'php5-imap'],
        'service_amavis': 'amavis',
        'service_clamav': 'clamav-daemon',
        'service_freshclam': 'clamav-freshclam',
        'service_dkim': 'opendkim',
        'service': 'postfix',
        'chroot_files': [
            '/etc/services', '/etc/resolv.conf', '/etc/nsswitch.conf',
            '/etc/hosts', '/etc/localtime',
            '/etc/ssl/certs/ca-certificates.crt',
        ],
    },
    'RedHat': {
        'pkgs': ['postfix', 'pypolicyd-spf'],
        'pkgs_dkim': ['opendkim'],
        'pkgs_amavis': ['amavisd-new', 'spamassassin', 'clamav-server-systemd',
            'libnet-dns-perl', 'libmail-spf-perl', 'pyzor', 'razor',
            'arj', 'bzip2', 'cabextract', 'cpio', 'file', 'gzip', 'lhasa',
            'nomarch', 'pax', 'unrar-free', 'unzip', 'zip'],
        'pkgs_postfixadmin': ['postfixadmin', 'php5-imap'],
        'service_amavis': 'amavis',
        'service_clamav': 'clamav-daemon',
        'service_freshclam': 'clamav-freshclam',
        'service_dkim': 'opendkim',
        'service': 'postfix',
        'chroot_files': [
            '/etc/services', '/etc/resolv.conf', '/etc/nsswitch.conf',
            '/etc/hosts', '/etc/localtime', '/etc/ssl/certs/ca-bundle.crt',
            '/etc/ssl/certs/ca-bundle.trust.crt',
        ],
    },
}, merge=salt['pillar.get']('postfix:server')) %}

{% set relay = salt['pillar.get']('postfix:relay') %}
{% set backupmx = salt['pillar.get']('postfix:backupmx') %}
