{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['postfix', 'postfix-mysql', 'postfix-policyd-spf-python'],
        'pkgs_dkim': ['opendkim', 'opendkim-tools'],
        'service_dkim': 'opendkim',
        'service': 'postfix',
    },
}, merge=salt['pillar.get']('postfix:server')) %}

{% set relay = salt['pillar.get']('postfix:relay') %}
