Source: salt-formula-postfix
Maintainer: Filip Pytloun <filip.pytloun@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-postfix
Vcs-Git: https://github.com/tcpcloud/salt-formula-postfix.git

Package: salt-formula-postfix
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Postfix Salt formula
 Install and configure Postfix server and relay.
